#sunburstChart1 {
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    width: 100%;
}

.treeNodeSelected {
    font-size: 150%; /*background-color: #ff0;*/
    background-color: red;
    color: yellow; /*color: #f00;*/
    fill : red;
    font-weight:bold;
/*color:rgb(255,255,0);*/
/*background-color: rgb(255, 0, 0);*/
    /*fill: rgb(255, 0, 0);*/

}

.treeNodeNotSelected {
    font-size: 100%;
    background-color: white;
    color: black; /*color:rgb(0,0,0);*/
    font-weight:normal;
/*background-color: rgb(255, 255, 255);*/
    /*fill: rgb(0, 0, 0);*/
}
