<%- include('../header') -%>


    <div class="container-fluid">
      <div class="row">

        <div class="col-sm-12 col-md-12 main">
          <h1 class="page-header" id="indicatorPageHead">Indicator</h1>
          <div class="row">
              
            <form id="indicatorForm" class="form-horizontal">
              <div class="form-group" id="topselectform">
                <label for="countryselect" class="col-sm-1 col-sm-offset-5 control-label">Indicator: </label>
                <div>
                  <select id="indicatorSelect">
                  </select>
                </div>
              </div>
            </form>
 
          </div>

          <div class="row">
            <div class="col-md-4">
                <svg id='piechart'></svg>
            </div>
            <div class="col-md-8">
                <svg id='barchart'></svg>
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-12">
              <svg id='linechart'></svg>
            </div>
          </div>

        </div>  
     </div>
   </div>     

<%- include('../sessionmanagement') -%>

<script>



<% if (typeof indicators != 'undefined') {  %>
window.session.indicators = "<%= indicators %>";
<% } %>





</script>

<%- include('../footer') -%>
