.map {
	border:1px dotted blue; 
	width: all; 
	height: 780px; 
	position: relative;
}

.active {
	fill: blue !important;
}

#indicatorSelect + div.btn-group>ul {
	-webkit-columns: 4;
	width: 900px;

}