    </body>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="jquery/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="bootstrap-slider/bootstrap-slider.min.js"></script>
    <script type="text/javascript" src="bootstrap-multiselect/js/bootstrap-multiselect.js"></script>
    <script type="text/javascript" src="d3/d3.js"></script>
    <script type="text/javascript" src="nvd3/js/nv.d3.js"></script> 
    <script type="text/javascript" src="require.js"></script>
    <script type="text/javascript" src="scripts/main.js"></script>
    <script type="text/javascript" src="datamaps/js/datamaps.world.js"></script>
    <script type="text/javascript" src="datamaps/js/topojson.js"></script>

    <!-- Load local dashboard Javascript files -->
    <% for(var i=0; i<scripts.length; i++) { %>
        <script type="text/javascript" src="<%= scripts[i] %>"></script>
    <% } %>

    
    
</html>