<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">
        <title>STTG3</title>  

           <link rel="stylesheet" type="text/css" href="nvd3/css/nv.d3.css">

           <!-- Bootstrap -->
            <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
            <link href="bootstrap-slider/css/bootstrap-slider.min.css" rel="stylesheet">
            <link href="bootstrap-multiselect/css/bootstrap-multiselect.css" rel="stylesheet">
            <!--<link href="scripts/jquery-multiselect/jquery.multiselect.css" rel="stylesheet">-->
            <link href="styles/main.css" rel="stylesheet">


            <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
            <![endif]-->

            <!-- Load local dashboard CSS files -->
            <% for(var i=0; i<styles.length; i++) { %>
            <link href="<%=styles[i] %>" rel="stylesheet">
            <% } %>

    </head>
    <body>

      <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">STTG3</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form id="mainForm">
          <ul class="nav navbar-nav navbar-left">
            <li><a href="/indicator" <% if(session.view == "indicator"){ %> style="background-color: white; color : black;"  <% } %>>INDICATOR</a></li>
            <li><a href="/country" <% if(session.view == "country"){ %> style="background-color: white; color : black;"  <% } %>>COUNTRY</a></li>
            <li><a href="/map" <% if(session.view == "map"){ %> style="background-color: white; color : black;"  <% } %>>MAP</a></li>
            <li><a href="/hierarchy" <% if(session.view == "hierarchy"){ %> style="background-color: white; color : black;"  <% } %>>HIERARCHY</a></li>
            <li id="countrySelectContainingLi" class="nonmainlinks">
            <span class="label">COUNTRY:</span> 
            <select id="countrySelect" <% if(multipleCountries){ %> multiple="multiple" <% } %> >
            </select>
            </li>
            <li id="timeslider" class="nonmainlinks">
            <span class="label">YEAR:</span> 
            <b>1960</b> <input type="text" class="span2" value="" data-slider-min="1960" data-slider-max="2015" data-slider-step="1" data-slider-value="[1997,2000]"/> <b>2015</b>
            </li>
            <li class="nonmainlinks">
              <button type="submit" class="btn btn-default">Update</button>
            </li>
          </ul>
          </form>          
        </div>
      </div>
    </nav>