<script>

window.session = new Object();

window.session.countries = "<%= session.countries %>";
window.session.indicators = "<%= session.indicators %>";
window.session.fromYear = "<%= session.fromYear %>";
window.session.toYear = "<%= session.toYear %>";
window.session.projection = "<%= session.projection %>";
window.session.mapLabelsOnOff = "<%= session.mapLabelsOnOff %>";
window.session.view = "<%= session.view %>";

window.globalVariables = new Object();
window.globalVariables = <%- JSON.stringify(globalVariables) %>;

</script>