
<%- include('../header') -%>
<script src="scripts/country/topojson.v1.min.js"></script>
<script src="scripts/country/d3.js"></script>
<script src="scripts/country/underscore.js"></script>
<script src="scripts/country/queue.js"></script>
<script src="scripts/country/mapper.js"></script>
<script src="elasticsearch/elasticsearch.js"></script>




<div class="container-fluid">
    <div class="row">

        <div class="col-sm-12 col-md-12 main">
          <h1 class="page-header">Country</h1>
          <div class="row">


          </div>
        </div>
    </div>
</div>

<table style="width:100%">
  <tr>
    <td>
  <div id="body"></div>
   </td>
    <td>
	<style>
      #tooltip {
        color: white;
        opacity: .9;
        background: #333;
        padding: 5px;
        border: 1px solid lightgrey;
        border-radius: 5px;
        position: absolute;
        z-index: 10;
        visibility: hidden;
        pointer-events: none;
      }
      #circle circle {
        fill: none;
        pointer-events: all;
      }
      .group path {
        fill-opacity: .7;
      }
      .chord {
        fill-opacity: .7;
        stroke-width: .25px;
      }
      #circle:hover path.fade {
        display: none;
      }
    </style>
	  <div id="tooltip"></div>
   </td>
  </tr>
</table>

   <script>
      queue()
        .defer(d3.json, 'scripts/country/index-matrix.json')
        .defer(d3.json, 'scripts/country/index-map.json')
        .await(function(err, matrix, mmap) { 
          if (err) console.log(err);
          drawChords(matrix, mmap);
        });
      //*******************************************************************
      //  DRAW THE CHORD DIAGRAM
      //*******************************************************************
      function drawChords (matrix, mmap) {
        var w = 980, h = 800, r1 = h / 2, r0 = r1 - 100;

        var fill = d3.scale.ordinal()
            .range(['#c7b570','#c6cdc7','#335c64','#768935','#507282','#5c4a56','#aa7455','#574109','#837722','#73342d','#0a5564','#9c8f57','#7895a4','#4a5456','#b0a690','#0a3542',]);

        var chord = d3.layout.chord()
            .padding(.02)
            .sortSubgroups(d3.descending)

        var arc = d3.svg.arc()
            .innerRadius(r0)
            .outerRadius(r0 + 20);

        var svg = d3.select("body").append("svg:svg")
            .attr("width", w)
            .attr("height", h)
          .append("svg:g")
            .attr("id", "circle")
            .attr("transform", "translate(" + w / 2 + "," + h / 2 + ")");

            svg.append("circle")
                .attr("r", r0 + 20);

        var rdr = chordRdr(matrix, mmap);
        chord.matrix(matrix);

        var g = svg.selectAll("g.group")
            .data(chord.groups())
          .enter().append("svg:g")
            .attr("class", "group")
            .on("mouseover", mouseover)
            .on("mouseout", function (d) { d3.select("#tooltip").style("visibility", "hidden") });

        g.append("svg:path")
            .style("stroke", "black")
            .style("fill", function(d) { return rdr(d).gdata == "state" ? "black": "grey"; })
            .attr("d", arc);

        g.append("svg:text")
            .each(function(d) { d.angle = (d.startAngle + d.endAngle) / 2; })
            .attr("dy", ".35em")
            .style("font-family", "helvetica, arial, sans-serif")
            .style("font-size", "10px")
            .attr("text-anchor", function(d) { return d.angle > Math.PI ? "end" : null; })
            .attr("transform", function(d) {
              return "rotate(" + (d.angle * 180 / Math.PI - 90) + ")"
                  + "translate(" + (r0 + 26) + ")"
                  + (d.angle > Math.PI ? "rotate(180)" : "");
            })
            .text(function(d) { return rdr(d).gname; });

		  var col;	
          var chordPaths = svg.selectAll("path.chord")
                .data(chord.chords())
              .enter().append("svg:path")
                .attr("class", "chord")
                .style("stroke", "black")
                .style("fill", function(d) {

//	return rdr(d).
//		tname == "Urban population (% of total)" ? "#00592d": "#ff6200"; 
// var col = "#ff6200";
 switch (rdr(d).tname) {
  case "Urban population (% of total)":
   col = "#00592d";
    break;
  case "Agricultural land (% of land area)":
    col = "#c7b570";
    break;
  case "Exports of goods and services (% of GDP)":
    col = "#768935";
    break;
  case "Population, ages 0-14 (% of total)":
    col = "#aa7455";
    break;
    default:
   col = "#aa7455"; } 
   return col;
   
}
			)
				
				
                .attr("d", d3.svg.chord().radius(r0))
                .on("mouseover", function (d) {
                  d3.select("#tooltip")
                    .style("visibility", "visible")
                    .html(chordTip(rdr(d)))
                    .style("top", function () { return (d3.event.pageY - 170)+"px"})
                    .style("left", function () { return (d3.event.pageX - 100)+"px";})
                })
                .on("mouseout", function (d) { d3.select("#tooltip").style("visibility", "hidden") });

          function chordTip (d) {
            var p = d3.format(".1%"), q = d3.format(",f")
            return "Chord Info:<br/>"
              +  d.sname + " ? " + d.tname
              + ": " + q(d.svalue) + "<br/>"
              + p(d.svalue/d.stotal) + " of " + d.sname + "'s Total (" + q(d.stotal) + ")<br/>"
              + p(d.svalue/(d.mtotal/2)) + " of Matrix Total (" + q(d.mtotal/2) + ")<br/>"
              + "<br/>"
              + d.tname + " ? " + d.sname
              + ": " + q(d.tvalue) + "<br/>"
              + p(d.tvalue/d.ttotal) + " of " + d.tname + "'s Total (" + q(d.ttotal) + ")<br/>"
              + p(d.tvalue/(d.mtotal/2)) + " of Matrix Total (" + q(d.mtotal/2) + ")";
          }

          function groupTip (d) {
            var p = d3.format(".1%"), q = d3.format(",f")
            return "Group Info:<br/>"
                + d.gname + " : " + q(d.gvalue) + "<br/>"
                + p(d.gvalue/(d.mtotal/2)) + " of Matrix Total (" + q(d.mtotal/2) + ")"
          }

          function mouseover(d, i) {
            d3.select("#tooltip")
              .style("visibility", "visible")
              .html(groupTip(rdr(d)))
              .style("top", function () { return (d3.event.pageY - 80)+"px"})
              .style("left", function () { return (d3.event.pageX - 130)+"px";})

            chordPaths.classed("fade", function(p) {
              return p.source.index != i
                  && p.target.index != i;
            });
          }
      }
    </script>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
		<script>


 var client = new elasticsearch.Client({ host: 'http://localhost:9200'});

var width = 350,
    height = 350;

var projection = d3.geo.orthographic()
    .translate([width / 2, height / 2])
    .scale(width / 2 - 20)
    .clipAngle(90)
    .precision(0.6);

var canvas = d3.select("body").append("canvas")
    .attr("width", width)
    .attr("height", height);

var c = canvas.node().getContext("2d");

var path = d3.geo.path()
    .projection(projection)
    .context(c);

var title = d3.select("h1");


queue()
    .defer(d3.json, "scripts/country/world-110m.json")
	.defer(d3.tsv, "scripts/country/world-country-names.tsv")
    .await(ready);

function ready(error, world, names) {
  if (error) throw error;

  var globe = {type: "Sphere"},
      land = topojson.feature(world, world.objects.land),
      countries = topojson.feature(world, world.objects.countries).features,
      borders = topojson.mesh(world, world.objects.countries, function(a, b) { return a !== b; }),
      i = -1,
      n = countries.length;
//	    var cNO = getCountryName(countries); 


  countries = countries.filter(function(d) {
    return names.some(function(n) {
      if (d.id == n.id) return d.name = n.name;
    });
  }).sort(function(a, b) {
    return a.name.localeCompare(b.name);
  });

 

  (function transition() {
  

    d3.transition()
        .duration(2150)
  //      .each("start", function() {
  //        title.text(countries[i = (i + 1) % n].name);
  //        title.text("South Africa");
  //      })
        .tween("rotate", function() {
    


 		title.text(countries[140].name);
           var p = d3.geo.centroid(countries[140]),
              r = d3.interpolate(projection.rotate(), [-p[0], -p[1]]);
          return function(t) {
            projection.rotate(r(t));
            c.clearRect(0, 0, width, height);
            c.fillStyle = "#ccc", c.beginPath(), path(land), c.fill();
            c.fillStyle = "#f00", c.beginPath(), path(countries[140]), c.fill();
            c.strokeStyle = "#fff", c.lineWidth = .5, c.beginPath(), path(borders), c.stroke();
            c.strokeStyle = "#000", c.lineWidth = 2, c.beginPath(), path(globe), c.stroke();
          };
        })
      .transition()
        .each("end", transition);
  })();
}

d3.select(self.frameElement).style("height", height + "px");




function getCountryName(countries)
  {
  //  var country = window.session.countryselect;
    var fromYear = window.session.fromYear;
    var toYear = window.session.toYear;
    var CountryNo  = 140;
    


 //     for (c = 0; c < countries.length ; c++)
 //   {
 //     console.log (c + " " + countries[c].name);
 //   }
 
    console.log("done");


   
    client.search(
    {
      index: window.globalVariables.elasticsearch_index,
      body: 
      {
        from : 0, size : 2,
        fields : ["Country Name"],
        query: 
        {
         match: { "Country Code" : "AFG"   }
//       match: { "Country Code" : country  }
               }
      }
    }).then(function (resp)
    { 
      console.log("at step a");
      console.log(resp.hits.hits[0].fields["Country Name"][0]); 
      var srt = ("" + resp.hits.hits[0].fields["Country Name"][0]);
      CountryName = srt;
      console.log(srt);
        for (c = 0; c < countries.length ; c++)
    {
 //      console.log(CountryName + "== " + countries[c].name);
      if (CountryName == countries[c].name)
      {
        CountryNo =  c; 
		
      }
    }
    
    });

   return CountryNo;

  }



</script>

	
<%- include('../sessionmanagement') -%>


<%- include('../footer') -%>
