<%- include('../header') -%>
    <div class="container-fluid">
      <div class="row">

        <div class="col-sm-12 col-md-12 main">
          <h1 class="page-header" id="map_header"></h1>
          <div class="row"> 

            <form id="mapForm" class="form-horizontal">
              <div class="form-group" id="topselectform">  
                <label class="col-sm-1 col-sm-offset-2 control-label">Projection: </label>
                <div class="col-sm-2">
                  <select id="projectionSelect">
                  </select>
                </div>
                <label class="col-sm-1 of control-label">Indicator: </label>
                <div class="col-sm-2">
                  <select id="indicatorSelect">
                  </select>
                </div>
                <label class="col-sm-1 control-label">Labels: </label>
                <div class="col-sm-2 btn-group" data-toggle="buttons">
                  <label class="btn btn-primary">
                    <input type="radio" name="options" id="labelsOn" value="On" autocomplete="off"> On
                  </label>
                  <label class="btn btn-primary active">
                    <input type="radio" name="options" id="labelsOff" valud="Off" autocomplete="off" checked="true"> Off
                  </label>
                </div>
              </div>
            </form>
 
          </div>

          <div class="row placeholders">
            <div class="col-md-12 placeholder"> 
              <div id="map" class="map"></div>
            </div>           
          </div>
        </div>  
     </div>
   </div>     

<%- include('../sessionmanagement') -%>

<script>

	<% if (typeof indicators != 'undefined') {  %>
		window.session.indicators = "<%= indicators %>";
	<% } %>
</script>

<%- include('../footer') -%>