<%- include('../header') -%>

<style>
    .link {
        fill: none;
        stroke: #ccc;
        stroke-width: 4.5px; /*stroke-width: 40px;*/
    }

    /*.svg {*/
        /*width: 600px;*/
        /*height: 400px;*/
    /*}*/

</style>

<div class="container-fluid">
    <div class="row">
        <h1 class="page-header" id="map_header">Hierarchy Graphs</h1>
    </div>

    <div class="row">
        <div class="col-sm-2 col-md-2 col-sm-offset-1 col-md-offset-1">
            <div>
                <div class="row">
                    <label class="control-label"><label class="control-label">Select Hierarchy: </label></label>
                </div>
                <div class="row">
                    <select id="hierarchyIndicatorSelect"></select>
                </div>
                <div class="row">&nbsp;</div>
                <div class="row">
                    <label class="control-label"><label class="control-label">Indicator Name: </label></label>
                </div>
                <div class="row">
                    <div id="selectedElement">&nbsp;</div>
                </div>
                <div class="row">&nbsp;</div>
                <div class="row">
                    <label class="control-label"><label class="control-label">Indicator Description: </label></label>
                </div>
                <div class="row">
                    <div id="selectedDescription">&nbsp;</div>
                </div>
            </div>
        </div>
        <div class="col-sm-5 col-md-5 col-sm-offset-0 col-md-offset-0">
            <svg id="sunburstChart1"></svg>
        </div>
    </div>

    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>

    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div id="treeChart1"></div>
        </div>
    </div>

    <%- include('../sessionmanagement') -%>
    <%- include('../footer') -%>

