#piechart {
                
    height: 400px;
    margin-left: auto;
    margin-right: auto;
} 

        
#barchart{
    
    height: 400px;
    margin-left: auto;
    margin-right: auto;

}

#linechart{
    
    height: 300px;
    margin-left: auto;
    margin-right: auto;

}

#indicatorSelect + div.btn-group>ul {
	-webkit-columns: 4;
	width: 900px;

}

.nvd3 g.nv-groups path.nv-line {
  stroke-width: 4px;
}